<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>Links</title>
  </head>
  <body>
    <div>
      
       
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">-_-_-Links til Python og Django-_-_-</li>
      </ul>
      <div>
        <nav class="navbar navbar-light bg-success">
        <a-navbar type="success" variant="dark">
          <a-navbar-nav>
            <a class="navbar-brand mb-0 h1" href="/">Home</a>
              <a class="navbar-brand mb-0 h1" href="/python">Python</a>
              <a class="navbar-brand mb-0 h1" href="/jango">Django</a>
            <a class="navbar-brand mb-0 h1" href="/sidebar">Nav/side-bar</a>
            
          </a-navbar-nav>
        </a-navbar>
                
    </div>
<h2>Disse links til Django er kun et lille udpluk af dem som man kan finde.</h2>
      <p>Både google og YouTube har mange flere. Nogle er nemmere end andre. Men det er bedst at tage de nyeste, så man ikke blander de nye og gamle former/koder sammen</p>
    <p></p>
    <div class="d-flex flex-column flex-shrink-0 bg-light vh-100" style="width: 100px;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item"> <a href="#" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Blog</small> </a> </li>
        <li> <a href="#" class="nav-link py-3 border-bottom"> <i class="#"></i> <small>Socialapp</small> </a> </li>
        <li> <a href="https://devcenter.heroku.com/" class="nav-link py-3 border-bottom"> <i class="#"></i> <small>Deploy</small> </a> </li>
        
    </ul>
   
        
    </div>
</div>
      
    <main class="container">
      <div class="row">
        <div class="col">
          
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>