<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>Links</title>
  </head>
  <body>
    <div>
      
       <!-- <b-navbar toggleable type="success" variant="dark">
          <b-navbar-brand href="/">Ferie</b-navbar-brand>
      
          <b-navbar-toggle target="navbar-toggle-collapse">
            <div class ="{ expanded }">
              <b-icon v-if="expanded" icon="chevron-bar-up"></b-icon>
              <b-icon v-else icon="chevron-bar-down"></b-icon>
            </div>
          </b-navbar-toggle>
      
          <b-collapse id="navbar-toggle-collapse" is-nav>
            <b-navbar-nav class="ml-auto">
              <b-nav-item href="/"></b-nav-item>
              <b-nav-item href="/digt">Digt</b-nav-item>
              <b-nav-item href="/tanker">Tanker</b-nav-item>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>-->
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">-_-_-Links til Python og Django-_-_-</li>
        </ul>
      <div>
        <nav class="navbar navbar-light bg-success">
        <a-navbar type="success" variant="dark">
          <a-navbar-nav>
            <a class="navbar-brand mb-0 h1" href="/">Home</a>
              <a class="navbar-brand mb-0 h1" href="/digt">Python</a>
              <a class="navbar-brand mb-0 h1" href="/tanker">Django</a>
            <a class="navbar-brand mb-0 h1" href="/tanker">Nav/side-bar</a>
            <!--<a-nav-item href="/">Ferie</a-nav-item>
            <a-nav-item href="/digt">Digt</a-nav-item>
            <a-nav-item href="/Tanker">Tanker</a-nav-item>-->
            
          </a-navbar-nav>
        </a-navbar>
                
    </div>
<h2>Nogle gode links til python.</h2>
      <p>Der er også lidt til leg i sidebar.</p>
    <p>rul ned og se mere</p>
    <div class="d-flex flex-column flex-shrink-0 bg-light vh-100" style="width: 100px;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item"> <a href="/" class="nav-link active py-3 border-bottom"> <i class="bi bi-airplane"></i> <small>Python</small> </a> </li>
        <li> <a href="#" class="nav-link py-3 border-bottom"> <i class="pencil-fill.svg"></i> <small>Tkinter</small> </a> </li>
        <li> <a href="#" class="nav-link py-3 border-bottom"> <i class="bi bi-chat-heart"></i> <small>Turtel</small> </a> </li>
        
    </ul>
   
        
    </div>
</div>
      <header class="page-header">
        <div class="container">
          
           <!-- <h1><a href="/">Lones ferie-blog</a></h1>
            <h1><a href="digt/">Lones digt</a></h1>
            <h1><a href="digt/">Lones tanker</a></h1>-->
        </div>
      </header>
    <main class="container">
      <div class="row">
        <div class="col">
          
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>